body {
    background: #FCEDE7;
}

button {
    color: #6D3826;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.5rem 3rem;
    border:none;
    border-radius: 2.5rem;
    background: #FFBFA7;
}

button:hover {
    background-color: #ffe2d7;
    cursor: pointer;
}

.glavna-slika {
    display: flex;
    justify-content: center;
}

.donja-sekcija {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom:1rem;
}

.slika-i-opis {
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
    position: relative;
}

.opis-ljubimca {
    border-radius: 0.75rem;
    text-align: center;
    padding: 0.2rem;
    background-color: #F8D6C8;
    position: absolute;
    margin-top: 50%;
    display: none;
}