@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #f8d6c8;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    margin:0 10vw;
    min-height: 100vh;
}

/* Korisnicki meni */

a {
    text-decoration: none;
    font-size: 1.4rem;
    color:#49261a;
}

.meni {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:0 10%;
    border: 0.1rem solid #6d3826;
    border-radius: 30px;
    margin-bottom: 1rem;
    background-color: #e69172;
}

.meni-opcija {
    padding: 0.5rem;
    border: 0.1rem solid #914a32;
    border-radius: 30px;
    margin:0.07rem;
    background-color: #ffbfa7;
}

.meni-opcija:hover {
    background-color: #ffe2d7;
    cursor: pointer;
}

.meni-opcija:active {
    background-color: #ffe2d7;
}

/* Sadrzaj stranice */

.glavni-sadrzaj {
    border: 0.1rem outset #e69172;
    background-color: #fff0ea;
    color:#6d3826;
}

.opis-stranice {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.opis-stranice p {
    text-align: center;
}

/* Footer */

footer {
    margin-top: 70vh;
    text-align: center;
}