@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #FFF0EA;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    margin:0 10vw;
    min-height: 100vh;
}

/* Korisnicki meni */

a {
    text-decoration: none;
    font-size: 1.4rem;
    color:#49261A;
}

.meni {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:0 10%;
    border-radius: 30px;
    margin-bottom: 1rem;
    background-color: #F8D6C8;
}

.meni-opcija {
    padding: 0.5rem;
    border-radius: 30px;
    margin: 5px 0;
    background-color: #FFBFA7;
}

.meni-opcija:hover {
    background-color: #ffe2d7;
    cursor: pointer;
}

.meni-opcija:active {
    background-color: #ffe2d7;
}
