@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #FFF0EA;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    margin:0 10vw;
    min-height: 100vh;
    color: #6D3826
}

/* Korisnicki meni */

a {
    text-decoration: none;
    font-size: 1.4rem;
    color:#49261A;
}

.meni {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:0 10%;
    border-radius: 30px;
    margin-bottom: 1rem;
    background-color: #F8D6C8;
}

.meni-opcija {
    padding: 0.5rem;
    border-radius: 30px;
    margin: 5px 0;
    background-color: #FFBFA7;
}

.meni-opcija:hover {
    background-color: #ffe2d7;
    cursor: pointer;
}

.meni-opcija:active {
    background-color: #ffe2d7;
}

.burger {
    display: none;
}

.vertikalni-meni {
    display:none;
}


@media all and (max-width:750px) {
    .meni {
        display: none;
    }

    .burger {
        display: block;
        background-color:#F8D6C8;
        border-radius: 2.5rem;
        margin-bottom: 1rem;
    }

    .burger img {
        justify-content: center;
        align-items: center;
        margin-left:30px;
        width: 30px;
        height: 30px;
    }

    .vertikalni-meni {
        display: block;
    }
    .vertikalni-meni a {
        text-align: center;
    }

}